# Supabase credentials (optional if using defaults in supabaseClient.js)
VITE_SUPABASE_URL=https://ammqjvbdjmqggpzwusir.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_L-i8E4_2AK7_OrRTTjks9g_EtI6cihM
